@media (max-width: 768px) {
  body {
  }
  header {
    padding: 10px 0;
  }
  header ul li {
    font-size: 17px;
    padding: 0 5px;
  }
  .main {
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr;
    padding: 0 10vw;
    padding-top: 90px;
  }
  .pro {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .profile_call ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 15px;
  }
  .introduce_inner {
    height: 100%;
  }
  .introduce_skill span {
    margin-top: 10px;
    border-radius: 16px;
    padding: 2px 4px;
    font-size: 8px;
    text-align: center;
  }
  .skill {
    height: 100%;
    position: relative;
    margin-top: 25px;
  }
  .footer_inner {
  }
  .footer_inner nav ul li {
    margin-right: 10px;
  }
  /* ################ project.style ################ */

  .website-inner {
    width: 100%;
    padding: 0;
    height: 1120px;
  }
  .website-inner h1 {
    font-size: 25px;
    padding: 100px 0 20px 0;
  }

  /* webtab-content */
  .content-inner {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  /* webtab-btn */
  .web-tab-btn label {
    text-align: center;
    line-height: 1.8em;
    font-size: 15px;
  }

  /* webtabs */
  .web-tab {
    width: 93%;
  }
  .web-tabs {
    width: 86%;
  }
  .web-tab .tab-inner {
    flex-direction: column;
    gap: 50px;
    width: 86%;
    /* padding: 0 20px; */
  }

  /* tab-info */
  .tab-info {
    padding: 0 10px;
  }

  .webtab-btn label {
    text-align: center;
  }

  .tab-info h3 {
    font-size: 22px;
    padding-bottom: 5px;
  }

  .tab-info span {
    line-height: 2em;
  }

  .tab-info p {
    width: unset;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .tab-info li {
    font-size: 12px;
  }

  /* web photo */
  .web-photo {
    width: 100%;
    height: 230px;
  }

  .result-buttons {
    text-align: center;
  }
  .study-inner {
    height: 900px;
  }
}
