@use "_reset.scss";
@import "_variables";
@import "_mixins";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
  padding: 0 20vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #315e7a;
  padding: 10px 0;
  background-color: #f5f5f5;
  z-index: 1;
  border-bottom: 1px solid #315e7a;
  ul {
    display: flex;
    justify-content: flex-end;
    width: 82%;
    li {
      font-size: 17px;
      padding: 10px;
      margin-right: 7px;
      span {
        margin-left: 5px;
      }
    }
  }
}

main {
  width: 100%;
  padding-top: 35px;
  margin-top: 5vw;
  display: grid;
  gap: 1vw;
  grid-template-columns: 12vw 22vw 25vw;
  aside {
    color: #315e7a;
    &:first-child {
      div {
        &:first-child {
          opacity: 0.9;
          h1 {
            font-size: 90px;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &:last-child {
              margin-top: -40px;
            }
          }
        }
        &:last-child {
          margin-top: 20px;
          font-size: 40px;
          font-weight: lighter;
          opacity: 0.7;
        }
      }
    }
  }
  section {
    color: #777777;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    article {
      overflow: hidden;
      background-color: white;
      border-radius: 24px;
      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
          &:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            img {
              width: 70px;
              height: 70px;
              object-fit: cover;
              margin-bottom: 10px;
              border-radius: 50%;
            }
            span {
              color: #414141;
              font-weight: bolder;
              margin-bottom: 10px;
            }
          }
        }
        ul {
          display: flex;
          background-color: #f5f5f5;
          border-radius: 24px;
          margin: 15px 0;
          padding: 18px 15px;
          gap: 30px;
          color: #373737;
          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i {
              display: block;
              margin-bottom: 6px;
            }
            span {
              font-size: 15px;
            }
          }
        }
      }
      &:nth-child(2) {
        ul {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px;
          li {
            a {
              color: #333;
              text-decoration: none;
            }
            span {
              margin-top: 15px;
              font-size: 12px;
              display: block;
            }
          }
        }
      }
      &:nth-child(3) {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        h2 {
          color: #315e7a;
          font-size: 16px;
        }
        ul {
          li {
            padding: 3px 0;
            span {
              color: #333333;
              margin-left: 10px;
            }
          }
        }
        p {
          color: #a9a9a9;
        }
      }
    }
    &:last-child {
      background-color: #777777;
      grid-column: 3 / 5;
      grid-row: span 5;

      article {
      }
    }
  }
}
